body {
    background: #F9F9FB;
    position: relative;
    padding: 0;
    padding-top: 50px;
    width: 100%;
}

#slide-container {
    max-width: 100%;
    overflow-x: hidden;
}

ol, ul, li {
    list-style: none;
}

a {
    color: #404040;
}

    a.btn {
        cursor: default;
        color: black;
    }

        a.btn:hover {
            color: cadetblue;
        }

.border-color-1 {
    border-color: #CCCEDB;
}

.background-color-2 {
    background: #CCCEDB;
}

.background-color-1 {
    background: #EEEEF2;
}



.navbar {
    border-bottom: 2px #cccedb solid;
    min-height: 0;
}

.colpick {
    z-index: 2000;
}

body > .logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.bold {
    font-weight: bold;
}

input[type="text"] {
    border: #cccedb 1px solid;
}

input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.logo {
    height: 50px;
    background: #CCCEDB;
    float: left;
}

    .logo h1 {
        font-weight: bold;
        font-size: 17px;
        padding: 0;
        margin: 0 10px;
        height: 52px;
        line-height: 52px;
        cursor: default;
    }

.navbar {
    height: 50px;
}

    .navbar .container {
        float: left;
        height: 48px;
        margin-left: 170px;
        max-width: 100%;
        font-size: 11px;
    }

        .navbar .container ul {
            margin: 0;
            padding: 0;
            height: 100%;
            float: left;
        }

        .navbar .container input {
            text-align: center;
        }

        .navbar .container li {
            float: left;
            padding: 12px 0 12px 6px;
        }
        .navbar .container li.control-input {
            display: none;
        }

            .navbar .container li .bold {
                font-weight: 700;
            }

            .navbar .container li span, .navbar .container li .btn {
                padding: 5px;
                line-height: 27px;
                text-align: center;
            }

            .navbar .container li span {
                padding: 0 0 0 2px;
                cursor: default;
            }

            .navbar .container li .grid-color {
                text-indent: -9999px;
            }

            .navbar .container li button {
                font-size: 10px;
                cursor: default;
            }

    .navbar .system-controller {
        background: #CCCEDB;
        position: absolute;
        right: 0;
    }

    .navbar .system-controller {
        background: #CCCEDB;
        position: absolute;
        right: 0;
    }

        .navbar .system-controller li {
            padding: 8px 5px;
            display: inline-block;
        }

            .navbar .system-controller li a:hover {
                color: white;
            }


#parallax-controller,#parallax-controller2 {
    width: 230px;
    border-radius: 0;
    padding: 0;
    font-size: 11px;
    position: fixed;
    top: 55px;
    right: 10px;
    border-color: #CCCEDB;
}
#parallax-controller2 {
    top: 400px;
}

    #parallax-controller .ui-tabs-nav,#parallax-controller2 .ui-tabs-nav {
        background: #CCCEDB;
        border-radius: 0;
        border: none;
        color: #cccedb;
        padding: 0;
    }

    #parallax-controller .ui-state-default, #parallax-controller2 .ui-state-default {
        background: #404040;
        color: #fff;
        border: none;
        border-radius: 0;
    }

        #parallax-controller .ui-state-default a, #parallax-controller2 .ui-state-default a {
            padding: 5px 7px;
            color: white;
        }

    #parallax-controller .ui-tabs-active, #parallax-controller2 .ui-tabs-active {
        background: #EEEEF2;
    }

        #parallax-controller .ui-tabs-active a,#parallax-controller2 .ui-tabs-active a {
            color: #404040;
            cursor: default;
        }

    #parallax-controller .ui-wrapper-tabs {
        background: #eeeef2;
    }

    #parallax-controller .sortable,#parallax-controller2 .sortable {
        padding: 5px 0 10px 0;
        margin: 0;
        max-height: 300px;
        overflow: auto;
    }


        #parallax-controller .sortable .sortable-item, #parallax-controller2 .sortable .sortable-item {
            border: 1px #CCCEDB solid;
            background: white;
            margin-top: -1px;
            position: relative;
        }



            #parallax-controller .sortable .sortable-item a, #parallax-controller2 .sortable .sortable-item a {
                padding: 7px 5px 2px 8px;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                cursor: default;
                display: inline-block;
                width: 175px;
            }

            #parallax-controller .sortable .sortable-item.item-animation:after {
                display: block;
                position: absolute;
                width: 20px;
                height: 30px;
                top: 0;
                right: 0;
                font-family: 'Glyphicons Halflings';
                content: "\e006";
                color: #E8B76A;
                font-size: 10px;
                line-height: 30px;
            }

            #parallax-controller .sortable .sortable-item.item-hide a {
                text-decoration: line-through;
                color: #cccedb;
            }

            #parallax-controller .sortable .sortable-item .showhide {
                display: inline-block;
                position: relative;
                top: -8px;
                left: 5px;
            }

            #parallax-controller .sortable .sortable-item a:hover, #parallax-controller2 .sortable .sortable-item a:hover {
                text-decoration: none;
            }

            #parallax-controller .sortable .sortable-item.item-hide a:hover {
                text-decoration: line-through;
                cursor: not-allowed;
            }

        /*#parallax-controller .sortable .sortable-item a:before {
                    font-family: 'Glyphicons Halflings';
                    content: "\e072";
                    font-size: 10px;
                    padding-right: 5px;
                }*/

        #parallax-controller .sortable .active, #parallax-controller2 .sortable .active {
            background: #cccedb;
        }

.move {
    cursor: move;
}

#parallax-tools {
    width: 60px;
    position: fixed;
    top: 60px;
    left: 25px;
    z-index: 99999;
    border-style: solid;
    border-width: 1px;
}

    #parallax-tools .btn {
        padding: 6px !important;
    }

    #parallax-tools dt {
        padding: 3px;
        position: relative;
    }

        #parallax-tools dt span {
            font-size: 7px;
            position: absolute;
            font-weight: 500;
            right: 5px;
            top: 10px;
            cursor: default;
        }

    #parallax-tools dd li {
        position: relative;
        text-align: center;
    }

        #parallax-tools dd li.dash {
            border-bottom: 1px #CCCEDB solid;
        }

        #parallax-tools dd li ul {
            position: absolute;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
        }

        #parallax-tools dd li ul {
            position: absolute;
            background: #EEEEF2;
            border: 1px #cccedb solid;
            margin-top: -1px;
            top: -1px;
            left: 150px;
        }

    #parallax-tools dd > ul > li > ul {
        left: 40px;
    }

    #parallax-tools dd li ul li {
        width: 150px;
    }

    #parallax-tools dd li ul {
        display: none;
    }

    #parallax-tools dd li:hover > ul {
        display: block;
    }


    #parallax-tools .parallax-tools-group ul {
        margin: 0;
        padding: 0;
    }

#parallax-gridviews {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

    #parallax-gridviews table {
        width: 100%;
        height: 100%;
    }

        #parallax-gridviews table td {
            border: aqua 1px solid;
        }

#slide-wrapper .slide {
    min-height: 201px;
    box-sizing: border-box;
}
/*z-index*/
#parallax-controller,#parallax-controller2, #parallax-navbar, #parallax-tools {
    z-index: 1000;
}

#parallax-gridviews {
    z-index: 999;
}

    #parallax-gridviews table {
        opacity: 0.7;
    }


.slide {
    border-bottom: #404040 1px dashed;
}
.slide.slide-hide {
    display: none;
}

.layer {
    display: inline-block;
    position: absolute !important;
    z-index: 1;
}

    .layer.layer-hide {
        display: none;
    }

.ui-rotatable-handle {
    display: none;
    z-index: 91;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: -22px;
}

.layer .layer-name {
    position: absolute !important;
    right: 0;
    top: -19px;
    padding: 0 5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    background: #CCCEDB;
    text-shadow: none;
}

.layer.active {
    z-index: 80 !important;
}

    .layer.active .ui-rotatable-handle {
        display: block;
    }

    .layer.active > .layer-name {
        background: #0a0a0a;
        color: white;
    }

    .layer.active .trigger {
        display: block !important;
    }

.layer > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 89;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px #7f7f7f dashed;
}

.layer.active > .overlay {
    border: 1px #000 solid;
    box-shadow: 0px 0px 5px #000;
}

.layer.hide-animation .trigger {
    visibility: hidden;
}

.layer.hide-animation:before {
    font-family: 'Glyphicons Halflings';
    content: "\e006";
    padding: 0 5px;
    font-size: 10px;
    position: absolute;
    color: #e8b76a;
    left: -18px;
}

.layer.active:before {
    display: none;
}

.trigger
{
	z-index: 900;
}

.layer.active .trigger {
    visibility: visible;
}

.trigger {
    font-size: 10px;
    position: absolute !important;
    width: 150px;
    height: 100%;
    top: 0;
    border-top: 1px green solid;
    border-bottom: 1px red solid;
}

.trigger-active {
    font-weight: 700;
    background: #000000;
    background: rgba(0, 0, 0, 0.5);
}


.trigger.Entrance {
    border-color: #68A490;
}

.trigger.Emphasis {
    border-color: #E8B76A;
}

.trigger.Exit {
    border-color: #D65532;
}

.trigger-active span.auto, .trigger-active span.repeat, .trigger-active span.delay {
    font-weight: 400;
    color: white !important;
}

.trigger-active.Entrance > span {
    color: #68A490;
}

.trigger-active.Emphasis > span {
    color: #E8B76A;
}

.trigger-active.Exit > span {
    color: #D65532;
}

.trigger > span {
    text-align: center;
    width: 100%;
    display: block;
}

    .trigger > span:first-of-type {
    }

    .trigger > span:last-of-type {
        position: absolute;
        bottom: 0;
    }
